
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewUser</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".text-danger").hide();
            $("#btn_newuser").click(function () {
                if ($("#EmailID").val().length == 0)
                {
                    $("#lbl_EmailID_error").show();
                    $("#EmailID").focus();
                    return false;
                }
                else
                {
                   $("#lbl_EmailID_error").hide();
                }
               
                if ($("#Password").val().length == 0)
                {
                   $("#lbl_Password_error").show();
                   $("#Password").focus();
                   return false;
                }
                else
                {
                   $("#lbl_Password_error").hide();
                }
                if ($("#FullName").val().length == 0)
                {
                   $("#lbl_FullName_error").show();
                   $("#FullName").focus();
                   return false;
                }
                else
                {
                   $("#lbl_FullName_error").hide();
                }
                if ($("#City").val().length == 0)
                {
                   $("#lbl_City_error").show();
                   $("#City").focus();
                   return false;
                }
                else
                {
                   $("#lbl_City_error").hide();
                }
                if ($("#MobileNo").val().length == 0)
                {
                   $("#lbl_MobileNo_error").show();
                   $("#MobileNo").focus();
                   return false;
                }
                else
                {
                   $("#lbl_MobileNo_error").hide();
                }
                if (!$.isNumeric($("#MobileNo").val())) {
                    $("#lbl_MobileNo_error_number").show();
                    $("#MobileNo").focus();
                    return false;
                }
                else {
                    $("#lbl_MobileNo_error_number").hide();
                }
           });
        });
    </script>
</head>
<body>
    <div class="form-group">
        @using (Html.BeginForm("NewUser", "Bank", FormMethod.Post, new { @class = "container", @style = "text-align:left;width:30%;" }))
        {
            <div class="form-group">
                <label for="EmailID" class="form-control-static">EmailID</label>
                <input type="text" name="EmailID" id="EmailID" class="form-control" />
                <label for="EmailID" id="lbl_EmailID_error" class="text-danger">*</label>
            </div>
            <div class="form-group">
                <label for="Password" class="form-control-static">Password</label>
                <input type="text" name="Password" id="Password" class="form-control" />
                <label for="Password" id="lbl_Password_error" class="text-danger">*</label>
            </div>
            <div class="form-group">
                <label for="FullName" class="form-control-static">FullName</label>
                <input type="text" name="FullName" id="FullName" class="form-control" />
                <label for="FullName" id="lbl_FullName_error"  class="text-danger">*</label>
            </div>
            <div class="form-group">
                <label for="City" class="form-control-static">City</label>
                <select name="City" id="City" class="form-control">
                    <option value="">Select</option>
                    <option value="BGL">BGL</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Mumbai">Mumbai</option>
                </select>
                <lable for="City" class="text-danger" id="lbl_City_error">*</lable>
            </div>
            <div class="form-group">
                <label for="MobileNo" class="form-control-static">MobileNo</label>
                <input type="text" name="MobileNo" id="MobileNo" class="form-control" />
                <label for="MobileNo" id="lbl_MobileNo_error" class="text-danger">*</label>
                <label for="MobileNo" id="lbl_MobileNo_error_number" class="text-danger">Only Number</label>

            </div>
            <div class="form-group">
                <input type="submit" value="New User" id="btn_newuser" class="btn-danger" />
                @Html.ActionLink("Login", "Login", "Bank")
            </div>
        } 
    </div>
</body>
</html>
